<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.canvus.app.vo.UserVO" alias="user" />
		<typeAlias type="com.canvus.app.vo.BillVO" alias="bill" />
		<typeAlias type="com.canvus.app.vo.TagVO" alias="tag" />
		<typeAlias type="com.canvus.app.drawing.vo.DrawingRoomVO" alias="room" />
		<typeAlias type="com.canvus.app.drawing.vo.DrawingUserVO" alias="drawingUser" />
		<typeAlias type="com.canvus.app.drawing.vo.PageVO" alias="page" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/PaymentMapper.xml" />
		<mapper resource="mapper/TagMapper.xml" />
		<mapper resource="mapper/DrawingRoomMapper.xml" />
		<mapper resource="mapper/JoinListMapper.xml" />
		<mapper resource="mapper/PageLayerMapper.xml" />
	</mappers>
</configuration>
