.itemBox {
    border: solid 1px black;
    background-color: #dca7a7;
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
}

.itemBoxHighlight {
    border: solid 1px black;
    width: 200px;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: yellow;
}

.deleteBox {
    float: right;
    display: none;
    cursor: pointer;
}