<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.mapper.BookmarkMapper">

<insert id="makeFolder" parameterType="bookmark">
	INSERT INTO BOOKMARK_FOLDER(
		FOLDER_ID
		,USER_ID
		,FOLDER_NAME
	) VALUES (
		FOLDER_ID_SEQ.NEXTVAL
		,#{user_id}
		,#{folder_name}
	)
</insert>

<select id="checkDoubleNameOfBookmark" parameterType="bookmark" resultType="bookmark">
	SELECT
		FOLDER_ID
		,USER_ID
		,FOLDER_NAME
	FROM
		BOOKMARK_FOLDER
	WHERE
		USER_ID = #{user_id}
		AND
		FOLDER_NAME = #{folder_name}
</select>

<delete id="deleteFolder" parameterType="int">
DELETE
	FROM
		BOOKMARK_FOLDER
	WHERE
		FOLDER_ID = #{int}
</delete>

<select id="getBookmarkList" parameterType="string" resultType="bookmark">
	SELECT
		FOLDER_ID
		,USER_ID
		,FOLDER_NAME
	FROM
		BOOKMARK_FOLDER
	WHERE
		USER_ID = #{string}
</select>

	<select id="getBookmarkFolderAbstractList" parameterType="string" resultType="bookmark">
		SELECT
			B.FOLDER_ID	AS folder_id
			,B.FOLDER_NAME	AS folder_name
			,C.FEED_COUNT	AS feed_count
		FROM
		     BOOKMARK_FOLDER B
			 ,(
				 SELECT
					COUNT(*) AS FEED_COUNT
				 	,FOLDER_ID AS FOLDER_ID
				 FROM BOOKMARKED_FEEDS
				 GROUP BY FOLDER_ID
			 ) C
		WHERE
		    B.USER_ID = #{user_id}
			AND
			C.FOLDER_ID = B.FOLDER_ID
	</select>

</mapper>