<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.mapper.BrowseMapper">

<select id="getRoomsByTitle" parameterType="string" resultType="hashmap">

SELECT
    D.ROOM_ID, D.TITLE, D.ADMIN, D.PASSWORD, D.USER_NO, U.NICKNAME, COUNT(J.joinlist_id) AS USER_COUNT
FROM
    DRAWING_ROOMS D, JOIN_LIST J, USERS U
WHERE
    D.ROOM_ID = J.ROOM_ID
    AND
    D.ADMIN = U.USER_ID
    <if test="_parameter != null and !_parameter.equals('')">
    AND
    D.TITLE LIKE '%' || #{string} || '%'
    </if>
GROUP BY
    D.ROOM_ID, D.TITLE, D.ADMIN, D.PASSWORD, D.USER_NO, U.NICKNAME
ORDER BY
    USER_COUNT DESC

</select>

<select id="getRoomCount" parameterType="string" resultType="int">
    SELECT
        COUNT(D.ROOM_ID) AS COUNT
    FROM
        DRAWING_ROOMS D
    <if test="_parameter != null and !_parameter.equals('')">
    WHERE
    D.TITLE LIKE '%' || #{string} || '%'
    </if>
</select>



</mapper>