<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.mapper.HistoriesMapper">

    <select id="getTotalRecordsOnHistories" parameterType="string" resultType="int">
        SELECT
            COUNT(*)
        FROM
            HISTORIES
        WHERE
            USER_ID = #{string}
    </select>

    <insert id="addHistory" parameterType="history">
        INSERT INTO HISTORIES (
            HISTORY_ID
            ,USER_ID
            ,FEED_ID
        ) VALUES (
            HISTORY_ID_SEQ.NEXTVAL
            ,#{user_id}
            ,#{feed_id}
        )
    </insert>

    <delete id="deleteHistory" parameterType="history">
        DELETE FROM
            HISTORIES
        WHERE
            USER_ID = #{user_id}
            AND
            FEED_ID = #{feed_id}
    </delete>

    <select id="historyDetail" parameterType="string" resultType="history">
        SELECT
            H.FEED_ID	AS feed_id
             ,TO_CHAR(H.HISTORY_INDATE, 'yyyy-MM-dd')	AS history_indate
             ,FD.PAGE_FILE AS preview
        FROM
            HISTORIES H, FEED_DRAWINGS FD
        WHERE
            H.USER_ID = #{string}
          AND
            FD.FEED_ID = H.FEED_ID
          AND
            FUNC_SPLIT(FD.PAGE_FILE, '--divide--', 1) = '1.png'
        ORDER BY
            H.HISTORY_INDATE DESC
    </select>
</mapper>