<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.drawing.mapper.PageLayerMapper">

<insert id="createPage" parameterType="page">
	INSERT INTO PAGE_LAYER(
	    ROOM_ID
	    ,PAGE_NO
	    ,LAYER_NO
	    ,STRINGIFY
	) VALUES (
	    #{room_Id}
	    ,#{page_no}
	    ,#{layer_no}
	    ,#{stringify}
	)
</insert>


<select id="selectAllPages" parameterType="string" resultType="page">
	SELECT
	    ROOM_ID
	    ,PAGE_NO
	    ,LAYER_NO
	    ,STRINGIFY
	FROM
	    PAGE_LAYER
	WHERE
	    ROOM_ID = #{string}
</select>

<update id="updatePage" parameterType="page">
	UPDATE PAGE_LAYER SET
    	STRINGIFY = #{stringify}
	WHERE
    	ROOM_ID = #{room_Id}
    	AND
    	PAGE_NO = #{page_no}
    	AND
    	LAYER_NO = #{layer_no}
</update>

<delete id="deletePageLayer" parameterType="page">
	DELETE FROM
		PAGE_LAYER
	WHERE
		ROOM_ID = #{room_Id}
		AND
	    PAGE_NO = #{page_no}
		AND
	    LAYER_NO = #{layer_no}
</delete>

</mapper>