<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.mapper.PaymentMapper">

	<insert id="paymentSubmit" parameterType="bill">
		INSERT INTO PAYMENT_TABLE (
			IMP_UID
			,MERCHANT_UID
			,PAID_AMOUNT
			,USER_ID
			,PIXEL
			,APPLY_NUM
			,INPUTDATE
		) VALUES (
			#{imp_uid}
			,#{merchant_uid}
			,#{paid_amount}
			,#{user_id}
			,#{pixel}
			,#{apply_num}
			,#{inputdate}
		)
	</insert>


</mapper>