<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.mapper.TagMapper">

<insert id="addTags" parameterType="tagsInFeed">
	INSERT INTO TAGS (
		TAG_NAME
	)
	SELECT
		A.*
	FROM
		(
		<foreach collection="tag_name" item="tag" separator="UNION ALL">
			SELECT
				#{tag}	AS TAG_NAME
			FROM
				DUAL
			WHERE NOT EXISTS(
				SELECT
					TAG_NAME
				FROM
					TAGS
				WHERE
					TAG_NAME = #{tag}
			)
		</foreach>
		) A
</insert>

</mapper>