<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.mapper.TagsInFeedMapper">

<insert id="inputTags" parameterType="tagsInFeed">
	INSERT INTO TAGS_IN_FEED(
		TIF_ID
		,FEED_ID
		,TAG_NAME
	)
	SELECT
		TIF_ID_SEQ.NEXTVAL	AS TIF_ID
		, A.*
	FROM
		(
		<foreach collection="tag_name" item="tag" separator="UNION ALL">
		SELECT
			#{feed_id}	AS FEED_ID
			,#{tag}	AS	TAG_NAME
		FROM
			DUAL
		</foreach>
		) A
</insert>

<delete id="deleteTags" parameterType="string">
	DELETE FROM 
		TAGS_IN_FEED
	WHERE
		FEED_ID = #{string}
</delete>

<select id="feedCountReferToTag" resultType="int">
	SELECT
		COUNT(F.FEED_ID) AS COUNT
	FROM
		FEEDS F,
		TAGS_IN_FEED T
	WHERE
		F.FEED_ID = T.FEED_ID
	 	AND
		T.TAG_NAME = #{keyword}
</select>

<select id="getFeedIdBundleByTag" resultType="hashmap">
	SELECT
		F.FEED_ID AS FEED_ID, CONCAT(F.FEED_ID, '--divide--1.png') AS PREVIEW, U.NICKNAME AS NICKNAME,
		(SELECT COUNT(L.LIKE_ID)
		 FROM LIKE_TABLE L
		 WHERE
			 L.FEED_ID = F.FEED_ID
		 GROUP BY
			 F.FEED_ID
		) AS LIKE_COUNT
	FROM
		FEEDS F,
		TAGS_IN_FEED T,
		USERS U
	WHERE
		F.FEED_ID = T.FEED_ID
	  AND
		F.USER_ID1 = U.USER_ID
	  AND
		T.TAG_NAME = #{keyword}
	ORDER BY
		F.FEED_ID, LIKE_COUNT DESC
</select>

<select id="getFeedBundleByNickname" resultType="hashmap">
	SELECT
	F1.FEED_ID AS FEED_ID, CONCAT(F1.FEED_ID, '--divide--1.png') AS PREVIEW,
	(SELECT U2.NICKNAME
	FROM
	FEEDS F2,
	USERS U2
	WHERE
	F2.USER_ID1 = U2.USER_ID
	AND
	U1.USER_ID IN(
	F2.USER_ID1, F2.USER_ID2, F2.USER_ID3, F2.USER_ID4
	)
	AND
	F1.FEED_ID = F2.FEED_ID
	) AS NICKNAME,
	(SELECT COUNT(L.LIKE_ID)
	FROM LIKE_TABLE L
	WHERE
	L.FEED_ID = F1.FEED_ID
	GROUP BY F1.FEED_ID
	)AS LIKE_COUNT
	FROM
	FEEDS F1,
	USERS U1
	WHERE
	U1.USER_ID IN(
	F1.USER_ID1, F1.USER_ID2, F1.USER_ID3, F1.USER_ID4
	)
	AND
	U1.NICKNAME = #{keyword}
	AND
	ROWNUM &lt;= 6
	ORDER BY
	FEED_ID, LIKE_COUNT DESC
</select>

</mapper>