<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.canvus.app.dao.userMapper">

<select id="login" parameterType="string" resultType="string">
	select
		id
	from
		canvusUser
	where
		id = #{id}
</select>

<insert id="signup" parameterType="user">
	insert into canvusUser(
	    id
	    ,given_name
	    ,family_name
	    ,profile_url
	    ,email
	    ,nickname
	    ,pixel
	    ,introduction
	) values (
	    #{id}
	    ,#{given_name}
	    ,#{family_name}
	    ,#{profile_url}
	    ,#{email}
	    ,#{nickname}
	    ,#{pixel}
	    ,#{introduction}
	)
</insert>


</mapper>