/*Fade Hover Effect*/
.feed-gallary {
    margin-left:2.7%;
    margin-top:1.35%;
    margin-bottom:1.35%;
    padding:2px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
    background-color: white;
}
.feed-gallary>a>img {
    border: none;
}

.hover-fade a {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: white;
    border: #9d9d9d solid 0.5px;
}

.hover-fade img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover-fade:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
    filter: alpha(opacity=0.5);
    opacity: 0.5;
}