/*.list-group-bm {*/
/*    width: 400px !important*/
/*}*/

.list-group-item-bm {
    margin-top: 10px;
    border-radius: none;
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out
}

.list-group-item-bm:hover {
    transform: scaleX(1.1)
}

.check-bm {
    opacity: 0;
    transition: all 0.6s ease-in-out
}

.list-group-item-bm:hover .check {
    opacity: 1
}

.about-bm span {
    font-size: 12px;
    margin-right: 10px
}

input[type=checkbox] {
    position: relative;
    cursor: pointer
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
    border: 1px solid #10a3f9;
    border-radius: 3px;
    background-color: white
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px
}

input[type="checkbox"]:checked+.check {
    opacity: 1
}

.btn-primmary{color:#fff;background-color:#1266f1}.btn-primmary.focus,.btn-primmary:focus,.btn-primmary:hover{color:#fff;background-color:#0c56d0}.btn-check:active+.btn-primmary,.btn-check:checked+.btn-primmary,.btn-primmary.active,.btn-primmary:active,.show>.btn-primmary.dropdown-toggle{color:#fff;background-color:#093d94}.btn-check:active+.btn-primmary:focus,.btn-check:checked+.btn-primmary:focus,.btn-primmary.active:focus,.btn-primmary:active:focus,.show>.btn-primmary.dropdown-toggle:focus{-webkit-box-shadow:0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.1);box-shadow:0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.1)}.btn-primmary.disabled,.btn-primmary:disabled{color:#fff;background-color:#1266f1}

