html,
body {
    height: 100%;
}

body {
    background-color: #eeedef
}

.height-100 {
    height: 100vh
}

.card {
    width: 380px;
    border: none;
    border-radius: 0px
}

.content span {
    color: black;
    font-weight: 500
}

.content p {
    font-size: 13px
}

.angle i {
    font-size: 19px;
    cursor: pointer
}

.angle i:nth-child(1) {
    margin-right: 10px
}

.about span:nth-child(1) {
    margin-right: 10px;
    color: black
}

.card-border {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
}

.card-background {
    background-color: lavender;
}

.side-plate {
    background-color: lightblue
}

.container-feed {
    width: 75%;
    height: 1600px;
}

.card {
    width: 100%;
}
.pictures {
    margin: 2px;
    background-color: white;
}