.thumb {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    font-size: 25px;
    border: 1px solid #bbb;
    line-height: 37px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}

.fw-500 {
    font-weight: 500 !important
}

.thumbs-up:hover {
    color: #fff;
    background-color: red;
    border: 1px solid red;
}
#like {
    text-align: center;
    padding: 5px;
}