.namebtn {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 1px solid rgba(255, 254, 0, 0.8);
    background-color: rgba(255, 254, 0, 0.8);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 10px;
    transition: all 0.5s;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
}

.namebtn:hover {
    color: black;
    animation: swoosh 0.4s ease-out 0.2s;
}

.namebtn:before,
.namebtn:after {
    content: "";
    background-color: rgba(255,255,255,1);
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease-out 0.1s;
}

.namebtn:after {
    opacity: 0;
    transform: scale(0.9, 0.7);
    left: 0;
    transition: all 0.3s ease-out 0s;
}

.namebtn:hover:before {
    left: 100%;
}

.namebtn:hover:after {
    opacity: 0.3;
    transform: scale(1);
}

@keyframes swoosh {

    0%,
    100% {
        box-shadow: 0 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 0 8px rgba(231, 133, 132, 0.3);
    }
}

@media only screen and (max-width: 767px) {
    .namebtn {
        margin-bottom: 20px;
    }
}