.bookmarkCSS {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    font-size: 15px;
    border: 1px solid #bbb;
    line-height: 37px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;

}

.bookmarkCSS:hover {
    color: #fff;
    background-color: green;
    border: 1px solid green;
}

.custom-dropdown {
    position: relative;
}

